<div class="container-fluid">
  <h2> Resource Access Request for Realogy Title</h2>
  <form [formGroup]="registrationForm">
    {{registrationForm.value | json }} 
    <div class="form-group">
      <label> Requester **</label>
      <input 
             [class.is-invalid]="registrationForm.get('requester').invalid && 
                                 registrationForm.get('requester').touched" 
             formControlName = "requester" 
             type="text" 
             class="form-control">
      <!-- <small [class.d-none]="registrationForm.get('requester').valid || 
                             registrationForm.get('requester').untouched" 
             class="text-danger">  Requester field cannot be empty 
      </small> -->  
    </div>
    <!-- an alternate option us to use getter function and replace all occurrences of .get(requester) -->
    <div *ngIf="registrationForm.get('requester').invalid && registrationForm.get('requester').touched">
      <small class="text-danger" *ngIf="registrationForm.get('requester').errors?.required"> 
              Requester Field cannot be empty</small>
      <small class="text-danger"  *ngIf="registrationForm.get('requester').errors?.minlength"> 
             Requester Field should be min 3 characters long;</small>
      <small class="text-danger"  *ngIf="registrationForm.get('requester').errors?.pattern"> 
              Requester Field should be alphabetic</small>
      <small class="text-danger"  *ngIf="registrationForm.get('requester').errors?.forbiddenRequester"> 
              {{registrationForm.get('requester').errors?.forbiddenRequester.value}} as requester name not allowed </small>  
      </div>
    
    <div class="form-group">
      <label> Password </label>
      <input formControlName = "password" type="password" class="form-control">
    </div>

    <div class="form-group">
    <label> Confirm Password </label>
      <!-- remember that the errors class is applied against the registration form errors and mismatch is return key from 
           the password validator function  -->
      <input 
          [class.is-invalid]="registrationForm.errors?.mismatch"
          formControlName = "confirmPassword" 
          type="password" 
          class="form-control">
          <small *ngIf="registrationForm.errors?.mismatch"  class="text-danger">  Password Mismatch </small>      
    </div>
    
    <div formGroupName = "address">
      <div class="form-group">
        <label> City </label>
        <input formControlName = "city" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label> State </label>
        <input formControlName = "state" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label> ZipCode </label>
        <input formControlName = "zipCode" type="text" class="form-control">
      </div>
    
    </div>
    <button class="btn btn-secondary" type="submit"> Register </button> &nbsp;
    <button (click)="loadAPI()" class="btn btn-secondary ,ml-2" type="button"> Load API Data </button>
    

  </form>
  
</div>